{% extends 'layout.html.twig' %}

 {% block title %}
     Nouveau Projet
 {% endblock %}

{% block content %}
    <h1>Ajouter un nouveau projet</h1>
    {% include 'Component/_form.html.twig' %}
{% endblock %}