{% extends 'layout.html.twig' %}

 {% block title %}
     Modification d'un Projet
 {% endblock %}

{% block content %}
    <h1>Modification du projet</h1>
    {% include 'Component/_form.html.twig' %}
{% endblock %}