{% extends 'layout.html.twig' %}

 {% block title %}
     Modification Projet
 {% endblock %}

{% block content %}
    <h1>Modifer le projet</h1>
    {% for error in errors %}
        <p class="form-error">{{ error }}</p>
    {% endfor %}
    {% include 'Component/_form.html.twig' %}
{% endblock %}