{% extends 'layout.html.twig' %}

 {% block title %}
     Tous les projets
 {% endblock %}

{% block content %}
    <section class="favorite">
        <h1 class="title-section sticky-top">Favoris</h1>
        <div class="container-fluide">
            <div class="row">
                {%  for project in projectsFavorite %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card-location">
                                {% include 'Component/_cards.html.twig' %}
                            </div>
                        </div>
                {%  endfor %}
            </div>
        </div>
    <section class="projet3">
        <h1 class="title-section sticky-top">Projet 3</h1>
        <div class="container-fluide">
            <div class="row">
                {%  for project in projects3 %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card-location">
                            {% include 'Component/_cards.html.twig' %}
                        </div>
                    </div>
                {%  endfor %}
            </div>
        </div>
    </section>

    <section class="projet2">
        <h1 class="title-section sticky-top">Projet 2</h1>
        <div class="container-fluide">
            <div class="row">
                {%  for project in projects2 %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card-location">
                            {% include 'Component/_cards.html.twig' %}
                        </div>
                    </div>
                {%  endfor %}
            </div>
        </div>
    </section>

    <section class="projet1">
        <h1 class="title-section sticky-top">Projet 1</h1>
        <div class="container-fluide">
            <div class="row">
                {%  for project in projects1 %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card-location">
                            {% include 'Component/_cards.html.twig' %}
                        </div>
                    </div>
                {%  endfor %}
            </div>
        </div>
    </section>
{% endblock %}