body{
    background: var(--black);
    font-family: 'Righteous', cursive;
    padding-top: 120px;
    color: whitesmoke;
}

:root{
    --font-color-white: #ffffff;
    --red-color : rgb(179, 49, 24);
    --black: #000000;
}

.sr-only {
    background-color: red;
}
/*NAVBAR*/

.navbar {
    display: flex;
    background-color: var(--black);
    border-bottom: 1px solid var(--font-color-white);
    box-shadow: 0px 0px 29px 6px rgba(255,255,255,0.71) !important;

}
.collapse .navbar-collapse {
    display: flex;

}
.navbar-search {
    display:flex;
    flex-direction: row;
}
.navbar-light .navbar-nav .active > .nav-link {
    color : var(--font-color-white);
}
.nav-link, .nav-link-addProject {
    width: 115px;
    height: 50px;
    margin: 10px;
    border: 1px var(--font-color-white);
    border-radius: 15px;
    text-align: center;
    font-size: 1.2rem;
    white-space: nowrap;
}

a:not(.btn) {
    text-decoration: none;
}

.nav-link:hover, .nav-link-addProject:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border: 3px solid var(--font-color-white);
    background-color: var(--red-color);
    width: auto;
}
.nav-item-addprojet, .nav-link-addProject {
    display: none;
}

.navbar-light .navbar-toggler {
    color: #8b0000;
}
.invalid-feedback{
    display: block;
}
/*END NAVBAR*/

/*HOME */
.title-section{
    text-align: center;
    padding: 10px;
    color: var(--font-color-white);
    padding:60px 10px 10px 10px;
}
hr {
    width: 60px;
    height: 6px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 8px;
    background-color: var(--red-color);
    margin-bottom: 10px;
}

.card-location{
    margin : 50px;
}
/* END HOME*/

/*cards start*/
.card {
    padding: 20px 20px 0 20px;
    text-align: left;
    margin-bottom: 0;
    filter: drop-shadow(7px 7px 4px #9B9898);
}
h3 {
    font-size: 15pt;
    color: #9B9898;
}
.promo-star {
    display: flex;
    justify-content: space-between;
}
.promo {
    margin-bottom: 0;
    color: black;
}
.card-img-top {
    border: black .5px solid;

}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.star {
    color: #f3ca4f;
    font-size: 26px;
}
/*fin cards*/

/*FORM*/
    .form {
        color: var(--font-color-white);
    }
    .form-container {
        width : 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-add {
        margin-top: 10px;
        margin-bottom: 10px;
        background: var(--red-color);
        border: var(--red-color);
    }
    .btn-add:hover {
        background: var(--red-color);
        border: 3px solid var(--font-color-white);
    }
    .form-error {
        text-align: center;
        color: var(--red-color);
    }
/*END FORM*/

/*START Login*/

.login{
    margin-top: 10px;
    margin-bottom: 20px;
}

/*END Login*/

/*carousel*/
    .title-project{
        font-size: 3em;
        color: gainsboro;
        text-align: center;
        padding-top: 40px;
        margin-bottom: 50px;
    }
    .carousel-inner {
        display: flex;
        justify-content: center;
    }
    .carousel-control-prev-icon {
        margin-left: -20px;
    }
    .carousel-control-next{

    }
    .description {
        text-align: justify;
        margin: auto;
        width: 70%;
        margin-bottom: 50px;
        margin-top: 20px;
        color: gainsboro;
    }

    .name-promo {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 50px 20px 30px 20px;
        font-size: 1.5em;
        color: gainsboro;
    }

 /*end carousel/

 /*
Edit Project
  */
.button-link {
    color : var(--font-color-white);
    width: 150px;
    height: 50px;
    margin: 10px;
    border-radius: 15px;
    font-size: 1.2rem;
    white-space: nowrap;
    border: 3px solid var(--font-color-white);
    background-color: var(--red-color);
}

.container-button {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.button-option {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*
END Edit Project
 */


/* FOOTER */
    .footer-dark {
        padding: 50px 0;
        color: #f0f9ff;
        background-color: #282d32;
    }

    .footer-dark h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
    }

    .footer-dark ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
    }

    .footer-dark ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.6;
    }

    .footer-dark ul a:hover {
        opacity: 0.8;
    }

    @media (max-width:767px) {
        .footer-dark .item:not(.social) {
            text-align: center;
            padding-bottom: 20px;
        }
    }

    .footer-dark .item.text {
        margin-bottom: 36px;
    }

    @media (max-width:767px) {
        .footer-dark .item.text {
            margin-bottom: 0;
        }
        .about{
            display: none;
        }
    }

    .footer-dark .item.text p {
        opacity: 0.6;
        margin-bottom: 0;
    }

    .footer-dark .item.social {
        text-align: center;
    }

    @media (max-width:991px) {
        .footer-dark .item.social {
            text-align: center;
            margin-top: 20px;
        }
        .services{
            display: none;
        }
    }
    @media screen and (max-width: 575px){
       .footer-descript{
            display: none;
        }
    }

    .footer-dark .item.social > a:hover {
        opacity: 0.9;
    }

    .footer-dark .copyright {
        text-align: center;
        padding-top: 24px;
        opacity: 0.3;
        font-size: 13px;
        margin-bottom: 0;
    }
    .icons-network{
        margin-top: 30px;
    }
    .icons-network img{
        height: 50px;
        width: 50px;
        transition: .25s ease;
        filter: grayscale(100%)
    }
    .icons-network img:hover {
        filter: none
    }
    .about p{
        font-size: large;
    }
    .about-li li{
        margin-bottom: 20px;
    }
    .about-li p{
        margin-bottom: 0;
    }

    img:hover {
        filter: none
    }
/* END FOOTER */
