body {
    background: linear-gradient(white, #144758, white);
    font-family: Montserrat, sans-serif;

}
.navbar {
    background-color: #144758;
}

.nav-link {
    width: 115px;
    height: 50px;
    margin: 10px;
    background-color: grey;
    border-color: grey;
    border-radius: 10px;
    text-align: center;
}





































































































/*cards start*/
.card {
    padding: 20px 20px 0 20px;
    text-align: left;
    margin-bottom: 0;
    filter: drop-shadow(7px 7px 4px #9B9898);
}
h3 {
    font-size: 15pt;
}
.promo-star {
    display: flex;
    justify-content: space-between;
}
.promo {
    margin-bottom: 0;
}
.card-img-top {
    border: black .5px solid;

}
.card:hover {
    transform: scale(1.20);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
/*fin cards*/








