<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item services">
                    <h4>Services</h4>
                    <ul>
                        <li><a href="#">Projets 1</a></li>
                        <li><a href="#">Projets 2</a></li>
                        <li><a href="#">Projets 3</a></li>
                        <li><a href="#">Favoris</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item about about-li">
                    <h4>About</h4>
                    <ul>
                        <p>Adresse:</p>
                        <li>9 Allée Serr, 33100 Bordeaux</li>
                        <p>Email:</p>
                        <li>guillaume.harari@wildcodeschool.fr</li>
                    </ul>
                </div>
                <div class="col-md-6 item text footer-descript">
                    <h4>WILD PROJECTS</h4>
                    <p>Retrouvez chacun des projets des élèves de la wild code school.</p>
                </div>
                <div class="col item social icons-network">
                    <h4>Suivez nous</h4>
                    <img class="icon ion-social-facebook"
                         src="https://www.flaticon.com/svg/static/icons/svg/145/145802.svg"
                         alt="logo facebook"
                    />
                    <img class="icon ion-social-twitter"
                         src="https://www.flaticon.com/svg/static/icons/svg/145/145812.svg"
                         alt="logo twitter"
                    />
                    <img class="icon ion-social-instagram"
                         src="https://www.flaticon.com/svg/static/icons/svg/2111/2111463.svg"
                         alt="logo instagram"
                    />
                    <img class="icon ion-social-linkedin"
                         src="https://www.flaticon.com/svg/static/icons/svg/145/145807.svg"
                         alt="logo linkedin"
                    />

                </div>
            </div>
            <p class="copyright">WildProjects © 2020</p>
        </div>
    </footer>
</div>