<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="column">
                <div class="col-md-6 item text footer-descript">
                    <h4>WILD PROJECTS</h4>
                    <p>Retrouvez chacun des projets des élèves de la wild code school.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3 item about about-li">
                    <h4>A propos</h4>
                    <ul>
                        <p>Adresse:</p>
                        <li>9 Allée Serr, 33100 Bordeaux</li>
                        <p>Email:</p>
                        <li>guillaume.harari@wildcodeschool.fr</li>
                    </ul>
                </div>
                <div class="col item social icons-network">
                    <h4>Suivez nous</h4>
                    <a target="_BLANK" title="WildCodeSchoolFac" href="https://www.facebook.com/wildcodeschool"><img class="icon ion-social-facebook"
                         src="https://www.flaticon.com/svg/static/icons/svg/145/145802.svg"
                         alt="logo facebook"
                    /></a>
                    <a target="_BLANK" title="WildCodeWchoolTwi" href="https://twitter.com/wildschool_bdx?lang=fr"><img class="icon ion-social-twitter"
                         src="https://www.flaticon.com/svg/static/icons/svg/145/145812.svg"
                         alt="logo twitter"
                    /></a>
                    <a target="_BLANK" title="WildCodeSchoolInst" href="https://www.instagram.com/wildcodeschoolofficial/?hl=fr"><img class="icon ion-social-instagram"
                         src="https://www.flaticon.com/svg/static/icons/svg/2111/2111463.svg"
                         alt="logo instagram"
                    /></a>
                    <a target="_BLANK" title="WildCodeSchoolLin" href="https://www.linkedin.com/school/10387519"><img class="icon ion-social-linkedin"
                         src="https://www.flaticon.com/svg/static/icons/svg/145/145807.svg"
                         alt="logo linkedin"
                    /></a>

                </div>
            </div>
            <p class="copyright">WildProjects © 2020</p>
        </div>
    </footer>
</div>